<div th:replace="fragments/header :: copy"></div>
<div th:replace="fragments/menu :: copy"></div>
<section>
    <form action="/create" method="post">
        <input name="title" type="text" placeholder="Заголовок" th:value="${title}">
        <textarea id="mde" rows="10" name="content" th:text="${content}"></textarea>
        <!--<input name="token" type="hidden" value="${token}">-->
        <button type="submit" onclick="simplemde.toTextArea();" accesskey="p">Опубликовать</button>
    </form>
</section>
<script>
    var element = document.getElementById('mde');
    var settings = {
        params: {
            autosave: 5,
            wordwrap: {
                paramVisible: false,
                active: false
            },
            doubleReturn: {
                modificator: 'shiftKey',
                active: true
            }
        },
        classes: {
            container: ['gp-editor']
        }
    };
    var editor = new Editor(element, settings);

    editor.init();
</script>
<div th:replace="fragments/footer :: copy"></div>