<div th:replace="fragments/header :: copy"></div>
<div th:replace="fragments/menu :: copy"></div>

<div th:if="${page.isEmpty()}" th:remove="tag">
<section>
    <p>Посты не найдены.</p>
</section>
</div>

<div th:unless="${page.isEmpty()}" th:remove="tag">
<th:block th:each="post : ${page}">
<article>
    <header>
        <!--<a href="/@${author}"><img align="left" class="u-square micro" src="/a/{{.Author}}.png" /></a>-->
        <p>
            <a th:href="@{/users/username}" th:text="@{@username}"></a>&nbsp;&nbsp;&nbsp;<a th:href="@{'/posts/' + ${post.id}}" th:text="${#dates.format(currentDate, 'dd-MM-yyyy HH:mm')}"></a>
            <span class="navright">
                <div th:switch="${post.readingTime()}" th:remove="tag">
                    <div th:case="'0'" th:remove="tag">меньше минуты</div>
                    <div th:case="'1'" th:remove="tag">около минуты</div>
                    <div th:case="*" th:remove="tag">
                        <div th:text="@{${post.readingTime()} + ' минут'}" th:remove="tag"></div>
                    </div>
                </div>
            </span>
        </p>
    </header>
    <section>
        <h3><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}"></a></h3>
        <p th:text="${#strings.abbreviate(post.content, 300)}"></p>
        <div class="comment">
            <a th:href="@{'/posts/' + ${post.id}} + '#comments'">комментариев: 0</a>
        </div>
        <hr/>
    </section>
</article>
</th:block>
<nav>
    <div th:if="${page.isFirst()}" th:remove="tag">
    &laquo;
    &nbsp;&nbsp;
    &lsaquo;
    </div>
    <div th:unless="${page.isFirst()}" th:remove="tag">
    <a th:href="@{'/posts/'}">&laquo;</a>
    &nbsp;&nbsp;
    <a th:href="@{'/posts/?p=' + ${page.getNumber()}}">&lsaquo;</a>
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <div th:text="${page.getNumber()+1}" th:remove="tag"></div>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <div th:if="${page.isLast()}" th:remove="tag">
    &rsaquo;
    &nbsp;&nbsp;
    &raquo;
    </div>
    <div th:unless="${page.isLast()}" th:remove="tag">
    <a th:href="@{'/posts/?p=' + ${page.getNumber()+2}}">&rsaquo;</a>
    &nbsp;&nbsp;
    <a th:href="@{'/posts/?p=' + ${page.getTotalPages()}}">&raquo;</a>
    </div>
</nav>
</div>

<div th:replace="fragments/footer :: copy"></div>