<div th:fragment="copy" th:remove="tag">
</main>
<footer>
    <p>
        <span>
            <a href="/about">about</a>&nbsp;&nbsp;
        </span>
        <span>
            <a href="https://github.com/chiliec/gorodperm.com">github</a>&nbsp;&nbsp;
        </span>
        <span>
            <a href="https://t.me/babin">telegram</a>&nbsp;&nbsp;
        </span>
        <span>
          <a href="https://twitter.com/chiliec">twitter</a>&nbsp;&nbsp;
        </span>
        <span>
            <a href="/policy">privacy</a>&nbsp;&nbsp;
        </span>
        <span>
            <a href="/terms">terms</a>
        </span>
    </p>
</footer>
</body>
</html>